@import "../../utils/colorPalette"
@import "../../utils/widthPicker"
@import "../../utils/animationTimer"

.languageToggle
  border: none transparent // none is required for IE11 Support
  cursor: pointer
  color: $black
  background: transparent
  font-weight: 500
  line-height: 19px // required for Safari Mobile to render border-bottom
  font-size: 14px
  padding: 0
  transition: color $colorTransitionDuration

.darkLanguageToggle
  color: $pale-grey

.languageToggle:focus
  outline: 0

.languageBorder
  border-bottom: 1px solid
